@import "swiper/css";
@import "swiper/css/effect-coverflow";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}
*{
  font-family: poppins;
  margin: auto;
  padding: 0;
}
canvas {
  position: fixed;
  top: 0;
  left: 25%;
  width: 100%;
  height: 100%;
}





